<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Go</title>
<link href="../../../../source/css/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
	<div class="title">
		<a href="#template">template</a>
		<a href="#if">if</a>
		<a href="#for">for</a>
			
	</div>

	<div class="note"><a name="template"></a>
		<p><span class="flag">template</span>
<pre>Revel 的 template 使用 go 標準庫中 的 html/template
同時 加上了 幾個 Revel 定義的 模板 函數
</pre>
		</p>
	</div>

	<div class="note"><a name="if"></a>
		<p><span class="flag">if</span>
<pre><span class="care">//.err 被定義 並且不爲 空</span>
{{if .err}}
	error
{{else}}
	success
{{end}}
	

<span class="care">//.err 未定義 將引發錯誤
//.err 不爲空</span>
{{if eq .err ""}}
{{else}}
	不爲空 執行 
{{end}}

</pre>
		</p>
	</div>
	<div class="note"><a name="for"></a>
		<p><span class="flag">for</span>
<pre>//遍歷 slice map 將 val 設置爲 當前環境 . 
{{range .nodes}}
	val = {{.}}
{{end}}

//同上 然 將 key val 設置到 指定 變量
{{range $key,$val := .nodes}}
	key = {{$key}}
	val = {{$val}}
{{end}}
<tr>
	<td>1</td>
</tr>
	
{{end}}
</pre>
		</p>
	</div>
</div>
</body>
</html>

